.search-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .search {
        background: #FCFCFC;
        border: 2px solid #B3B3B3;
        box-sizing: border-box;
        border-radius: 8px;
        width: 426px;
        height: 50px;

        padding: 15px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;

        &:focus {
            outline: none;
        }
    }
}