.links {

    a,
    u {
        text-decoration: none;
        color: #4D4D4D;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        margin-left: 15px;
        &:hover{
            color: #FF4001;
        }
    }
}